<%- include partials/header.ejs %>
 
 
<%- include partials/main_nav.ejs  %>

  
  <!--Main Content--> 

  <main class="container">
    <div class="jumbotron jumbotron-fluid">
      <h1 class="display-7">Welcome to the <%= title %> page</h1>  
    </div>
     <!--effect wrap ends-->
    <section class="about-section section">
        <div class="row">
                <!--social media connection-->
                <div class="social-links">
                    <a href="#" class="btn-1 outer-shadow hover-in shadow"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/Devansh99262833" class="btn-1 outer-shadow hover-in shadow"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/devanshi_0703/?hl=en" class="btn-1 outer-shadow hover-in shadow"><i class="fab fa-instagram"></i></a>
                    <a href="www.linkedin.com/in/devanshi-shah-9a373b202" class="btn-1 outer-shadow hover-in shadow"><i class="fab fa-linkedin-in"></i></a>

                <!--social media connection ends-->
                </div>
            </div>
   <section class="contact-section section">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2 data-heading="contact">Contact Details</h2>
            </div>
        </div>
        <div class="row">
        <div class="contact-item">
            <div class="contact-item-inner outer-shadow">
            <i class="fas fa-phone"></i>
            <span>Phone</span>
            <p>+91 7575030281</p>
            </div>
        </div>
        <div class="contact-item">
            <div class="contact-item-inner outer-shadow">
            <i class="fas fa-envelope"></i>
            <span>Email</span>
            <p>devanshis7300@gmail.com</p>
            <p>dshah163@my.centennialcollege.ca</p>
            </div>
        </div>
        <div class="contact-item">
            <div class="contact-item-inner outer-shadow">
            <i class="fas fa-map-marker-alt"></i>
            <span>Address</span>
            <p>C-102,DevKrupa Heights, Vasna,Ahmedabad.</p>
           
            </div>
        </div>
        <div class="row">
        <div class="contact-form">
        <form>

        </form>
    </div>
   </section>
    </main>
  
        
    






<!--For background section start-->
<html>
<head>
<style>
body {
  background-image: url("image/banner7.jpeg");
  background-color: #cccccc;
}

</style>
</head>
</html>
 
<%- include partials/bottom_nav.ejs %>

 <%- include partials/footer.ejs %>