<!-- File Name : index.ejs
    Student Name : Devanshi Shah
    Student Id   : 301175169
    Date         : 13 -02 -2021 --->
<%- include partials/header.ejs %>
 
 
<%- include partials/main_nav.ejs  %>

  
  <!--Main Content--> 


  <main class="container">
    <div class="jumbotron jumbotron-fluid">

      <h1 class="display-7">Welcome to the <%= title %> page</h1>  
    </div>
    <section class ="home" id ="home">
    <!--effect wrap start-->
    <div class="effect-wrap">
        <div class="effect effect-1">
        </div>
        <div class="effect effect-2">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
        <div class="effect effect-3">
        </div>
    </div>
    <!--effect wrap ends-->
    <div class ="max.width">
      <div class="home-content">
        <div class="text-1">WELCOME TO MY WEBSITE</div>
        <div class="text-2">My Name Is</div>
        <div class="text-3">DEVANSHI SHAH</div>
        <br><div class="mission"><i class="fas fa-angle-double-right"></i>Mission Statement: The main purpose for creating my e-portfolio is to introduce myself and also for enhancing my skills in the framework.</div>
      </div>
        <br><a href="/about" class="btn-1 outer-shadow hover-in shadow">More About Me</a>

    </div>
          <div class="home_img">
            <img src="image/port3.gif" alt="" width="270" height="240">
          </div>
    





    </section>
      
    
      
      
     
    
        
        
      
     
  
  
               
  </main>
  
<!--home section start-->
<html>
<head>
<style>
body {
  background-image: url("image/bg.jpg");
  background-color: #cccccc;
}

</style>
</head>
</html>

                

                

    </div>
  </div>
</section>


 
<%- include partials/bottom_nav.ejs %>

 <%- include partials/footer.ejs %>