<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs  %>


<!--Main Content--> 


<meta name="viewport" content="width=device-width, initial-scale=1.0">
<main class="container">
<div class="jumbotron jumbotron-fluid">
    <h1 class="display-7">Welcome to the <%= title %> page</h1>  
</div>
<div class="main">

<hr>

<h2 style="background-color:powderblue; color: grey; text-align: center;">My Projects</h2>


<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column">
    <div class="content">
      <img src="image/student.png" alt="" style="width:100%">
      <p style="background-color:violet;"> Student Management System <p>
      <p>Student Management System project was done in Netbeans IDE, 
        The main purpose of this project is an environment where all
         the process of the student in the institution is managed.
         It is done through the automated computerized method.</p>
        <p> Role:My major role during this project was to implement Student Module </p>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="image/house.png" style="width:100%">
      <p style="background-color:tomato;">Rental Residencial System<p>
      <p>The House Rental Management System is a simple PHP/MySQLi
       project that helps manages the records and payments of certain
       house rental businesses. This system stores the list of house 
       categories/types, houses, tenants, and monthly payments.</p>
       <p>Role: My major role during this project was to create user module.</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="image/millionaire.jpg" alt="" style="width:100%">
      <p style="background-color:blue;">Who wants to be Millionaire<p>
      <p>Who wants to be Millionaire project was built with 
      the usage of c++ language, it simulation system is based 
      on the television show  The main objective of this application
       is to provide its users with an opportunity to play the famous
        quizzing game at the comfort of their homes on a computer system.
        This program can be used to create databases of questions that can
         be used later in the gameplay.</p>
         <p>Role: To create module which stimulate Questions, To generate correct
        answers and generate the status of the answer entered by the user.</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="image/library.png" alt="" style="width:100%">
      <p style="background-color:grey">Library Management System</p>
      <p>Python Project– The objective of library management system project is
       to develop a real-time library.This project provides functionalities like
        add book, issue book, return the book, viewbook, delete a book, etc.</p>
        <p>Role: To manage the front side server.<p>
    </div>
  </div>
<!-- END GRID -->
</div>



<!-- END MAIN -->
</div>

</body>
</html>
















































<!--For background section start-->
<html>
<head>
<style>
body {
background-image: url("image/bg1.jpg");
background-color: #cccccc;
}

</style>
</head>
</html>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>