<%- include partials/header.ejs %>
 
 
<%- include partials/main_nav.ejs  %>

  
<!--Main Content--> 

  <main class="container">
    <div class="jumbotron jumbotron-fluid">
      <h1 class="display-7">Welcome to the <%= title %> page</h1>  
    </div>
    <div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="image/web.png" width="70">
                    <div class="d-flex flex-column ml-2"><span>Web Development</span><span class="text-black-50">Customize Web Development</span></div>
                </div>
                <h6>Build and Maintain website by using variety of coding languages and framework.</h6>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="image/graphic.png" width="70">
                    <div class="d-flex flex-column ml-2"><span>Graphic Design</span><span class="text-black-50">Applying Graphic Design</span></div>
                </div>
                <h6>Meet the user requirement by the usage of typography and pictures for specific needs and focuses on the logic of elements in interactive design.</h6>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="image/data.png" width="70">
                    <div class="d-flex flex-column ml-2"><span>DataBase Management System</span><span class="text-black-50">Database Management</span></div>
                </div>
                <h6>Use to store and retrive the users data.</h6>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="image/mobile.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Application Development</span><span class="text-black-50">Mobile Application Development System</span></div>
                </div>
                <h6>To create Software Application which is able to run on mobile devices or typically a mobile application.</h6>
              
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="image/mobile responsive.png" width="70">
                    <div class="d-flex flex-column ml-2"><span>Mobile Responsive</span><span class="text-black-50">Responsive website for Mobile.</span></div>
                </div>
                <h6>Responsive design and development to the user's behaviour and environment based on screen size.</h6> 
            </div>
        
            </div>
        </div>
    </div>
</div>
    
    </section>
   
    </main>







<!--For background section start-->
<html>
<head>
<style>
body {
  background-image: url("image/banner7.jpeg");
  background-color: #cccccc;
}

</style>
</head>
</html>
 
<%- include partials/bottom_nav.ejs %>

 <%- include partials/footer.ejs %>